<ion-view view-title="About">
  <ion-content>
    <h1 style="padding-top: 10px" align="center">About</h1>

    <div style="padding: 20px">
      <p class="textStyle"> Author: Lache Adrian Eduard </p>

      <p class="textStyle"> Coordonating professor: S.L Dr. Ing. Radu Pietraru </p>
    </div>


    <div style="padding: 20px">
      <p class="textStyle"> This application is curently a prototype and it's purpose is to demonstrate some functionalities. From the connection
        to the bluetooth modules to the posibility of sending notifications and the ability to keep track of the user's position
        and create statistics and graphs. </p>
    </div>
  </ion-content>
</ion-view>
