<ion-view view-title="Contact">
  <ion-content>
    <h1 style="padding-top: 10px" align="center">Contact</h1>

    <div style="padding: 15px">
      <p class="textStyle"> Name: Lache Adrian Eduard </p>
      <p class="textStyle"> E-mail: eduard.lache@gmail.com </p>
      <div style="padding: 30px" align="center">
        <!-- Email -->
        <a href="mailto:eduard.lache@gmail.com?Subject=Hello Eduard&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>
        <!-- Facebook -->
        <a href="https://www.facebook.com/spedst" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/eduard-lache-6ba588b1/" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
    </a>
        <!-- Google+ -->
        <a href="https://plus.google.com/+EduardLache" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a>
      </div>
    </div>
  </ion-content>
</ion-view>
