<ion-view view-title="Live Monitoring">
  <ion-content>
    <ion-slides options="options" slider="swiper" class="slidesHeight">
      <ion-slide-page>
        <ion-content>
          <p ng-if="sidePosition!=0" class="titleStyle" style="color: red"> Side view </p>
          <p ng-if="sidePosition==0" class="titleStyle"> Side view </p>
          <img id="sideImage" class="centerImage" src="{{'resources/side' + sidePositionImageNumber + '.jpg'}}" style="height: 80%"
          />
          <p class="adviceStyle "> Your side position is:
            <span ng-if="sidePosition==0" class="correctStyle"> correct ! </span>
            <span ng-if="sidePosition!=0" class="incorrectStyle"> incorrect by {{sidePosition}} ! </span>
          </p>

        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content>
          <p ng-if="frontPosition!=0" class="titleStyle" style="color: red"> Front view </p>
          <p ng-if="frontPosition==0" class="titleStyle"> Side view </p>
          <img id="frontImage" class="centerImage" src="{{'resources/front' + frontPositionImageNumber + '.jpg'}}" style="height: 80%"
            <p class="adviceStyle "> Your frontal position is:
          <span ng-if="frontPosition==0" class="correctStyle"> correct ! </span>
          <span ng-if="frontPosition!=0" class="incorrectStyle"> incorrect by {{frontPosition}} ! </span>
          </p>

        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content>
          <p ng-if="abovePosition!=0" class="titleStyle" style="color: red"> Above view </p>
          <p ng-if="abovePosition==0" class="titleStyle"> Above view </p>
          <img id="aboveImage" class="centerImage" src="{{'resources/above' + abovePositionImageNumber + '.jpg'}}" style="height: 80%"
            <p class="adviceStyle"> Your rotation is:
          <span ng-if="abovePosition==0" class="correctStyle"> correct ! </span>
          <span ng-if="abovePosition!=0" class="incorrectStyle"> incorrect by {{abovePosition}} ! </span>
          </p>
        </ion-content>
      </ion-slide-page>
  </ion-content>
</ion-view>
