<ion-view view-title="Live Monitoring">
  <ion-content>
    <ion-slides options="options" slider="swiper" class="slidesHeight">
      <ion-slide-page>
        <ion-content>
          <p class="titleStyle" style="color: red"> Side view </p>
          <img class="centerImage" src="resources/side+3.jpg" style="height: 80%" />
          <p class="adviceStyle "> Your side position is:
            <span class="incorrectStyle "> incorrect! </span>
          </p>

        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content>
          <p class="titleStyle"> Front view </p>
          <img class="centerImage " src="resources/front0.jpg " style="height: 80%" />
          <p class="adviceStyle "> Your frontal position is:
            <span class="correctStyle "> correct! </span>
          </p>

        </ion-content>
      </ion-slide-page>
      <ion-slide-page>
        <ion-content>
          <p class="titleStyle"> Above view </p>
          <img class="centerImage " src="resources/above0.jpg " />
          <p class="adviceStyle "> Your rotation is:
            <span class="correctStyle "> correct! </span>
          </p>
        </ion-content>
      </ion-slide-page>
  </ion-content>
</ion-view>
