<ion-view view-title="Tips">
  <ion-content>
    <h1 style="padding-top: 10px" align="center">Tips</h1>

    <div class="card">
      <div class="item item-divider">
        Physical activity
      </div>
      <div class="item item-text-wrap">
        It is recommanded that once every hour there should be a minimum of physical activity of any kind.
      </div>
    </div>

    <div class="card">

      <div class="item item-divider">
        Chair
      </div>
      <div class="item item-text-wrap">
        The back of the chair should be tilted at about 100-110 degrees.
      </div>
      <div class="item item-text-wrap">
        The lumbar and thoracic area of the back should be rested against the chair so that the weight should be evenly distributed.
      </div>
    </div>


    <div class="card">
      <div class="item item-divider">
        Legs
      </div>
      <div class="item item-text-wrap">
        The legs should have a flat contact with the ground so that the angle between the legs and the chair should be around 100-110
        degrees.
      </div>
      <div class="item item-text-wrap">
        Between the back of the knees and the chair should be a safe space of a few centimeters so that the blood circulation is
        not restricted
      </div>
    </div>

    <div class="card">

      <div class="item item-divider">
        Screen
      </div>
      <div class="item item-text-wrap">
        The screen position is determined with a test. You should sit in a correct and relaxed position on the chair with your eyes
        closed so you don't get biased by the position of the screen. After you open your eyes the screen should be right
        in the center of your vision. If it is not it should be repositioned.
      </div>
      <div class="item item-text-wrap">
        The distance between the eye and the screen should be an arm's lenght away but it depends on your eye sight.
      </div>
      <div class="item item-text-wrap">
        The reflections off the screen should be avoided by tilting the screen down and removing any shining objects around.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Arm rests
      </div>
      <div class="item item-text-wrap">
        The arm rests should be positioned in such a way that the shoulder muscles should be relaxed.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Keyboard and mouse
      </div>
      <div class="item item-text-wrap">
        The keyboard and mouse should be placed in such a way that the shoulder muscles should be relaxed, the elbows resting on
        the table and the palm joints to be straight and relaxed.
      </div>
    </div>

  </ion-content>
</ion-view>
